@mixin header-font {
    font: {
        family: $head-font;
        weight: 700;
        size: 26px;
    }
    color: $head-font-color;
}

@mixin content-font {
    font: {
        family: $content-font;
        weight: 400;
        size: 22px;
    }
    color: $content-font-color;
}

@mixin content-header {
    font: {
        family: $head-font;
        size: 24px;
        weight: 600;
    }
    color: $head-font-color;
    
}

@mixin content-holder {
    background-color: $content-bg-color;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: auto;
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 25px;
}

@mixin divider {
    background-color: $bar-color;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 3px;
    width: 15%;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 25px;
}

@mixin content-holder-bar {
    background-color: $bar-color;
    width: 80%;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: -30px;
    padding: 11px;
}