$head-font: 'Dosis', sans-serif;
$content-font: 'Open Sans', sans-serif;

$content-font-color: #2C3539;  /*-------gun-metal------*/
$content-font-grey: #919191;
$head-font-color: white;
$bar-color: #111315;
$main-bg-color: #f9f1f1;
$content-bg-color: white;
