.band-name-banner {
    background-color: $bar-color;
}

.header-main-text {
    font: {
        family: Pacifico;
        size: 45px;
        weight: 600;
    }
    position: relative;
    top: 10px;
    color: white;
    text-align: center;
}

main {
    background-color: $main-bg-color;
    height: 100%;
    width: 100%;
}

.welcome-section {
    @include content-holder;
}

.content-head-font {
    @include content-header;
}

.news-content {
    @include content-font;
}

.divider {
    @include divider;
}

.date-text {
    font: {
        family: $content-font;
        weight: 400i;
        size: 16px;
    }
    color: $content-font-grey;
}

.content-top-bar {
    @include content-holder-bar;
}